<a href="https://colab.research.google.com/github/Jacquesjh/Absenteeism/blob/main/Absenteesim_Pre_Processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Sempre, e antes de qualquer coisa, é importante aqui no Colab de nos certificarmos onde estamos trabalhando, e onde nossos arquivos gerados serão salvos
##Para esta análise, eu criei uma parta específica em meu Google Drive

In [ ]:
%cd /content/drive/MyDrive/Machine Learning/Absenteeism

/content/drive/MyDrive/Machine Learning/Absenteeism

##Agora podemos começar a nossa análise. Para isso, começamos importando as bibliotecas relevantes. Inicialmente, importamos Pandas, pois queremos trabalhar com um Data Frame. Poderiamos utilizar Numpy, ao invés de Pandas, mas então estariamos trabalhando com dados do tipo Numpy Array.

In [ ]:
import pandas as pd

##Agora podemos fazer o upload de nossos dados. O arquivo que queremos já está em nossa pasta que estamos trabalhamos e se chama 'Absenteeism_data' salvo como .csv

In [ ]:
raw_data = pd.read_csv('Absenteeism_data.csv')

###Utilizarmos a biblioteca Pandas para tratar nossos dados como um DataFrame é muito benéfico para nos, pois preserva a estrutura dos dados, juntamente com o cabeçalho que nos dá uma boa ideia da natureza dos dados.
###Também, deste modo, podemos utilizar alguns métodos que ajudam no tratamento e visualização de dados. Isto também seria possível usando Numpy, porém seria de uma maneira diferente, pois teríamos que desconsiderar a primeira linha (contendo o cabeçalho) e utilizar outras função com os dados

In [ ]:
##Usando esta função, podemos ver uma amostra de como estão organizados nossos dados
raw_data.head()

   ID  Reason for Absence  ... Pets  Absenteeism Time in Hours
0  11                  26  ...    1                          4
1  36                   0  ...    0                          0
2   3                  23  ...    0                          2
3   7                   7  ...    0                          4
4  11                  23  ...    1                          2

[5 rows x 12 columns]

In [ ]:
##Com esta função, podemos ver algumas características estatísticas de cada feature 
raw_data.describe()

               ID  Reason for Absence  ...        Pets  Absenteeism Time in Hours
count  700.000000          700.000000  ...  700.000000                 700.000000
mean    17.951429           19.411429  ...    0.687143                   6.761429
std     11.028144            8.356292  ...    1.166095                  12.670082
min      1.000000            0.000000  ...    0.000000                   0.000000
25%      9.000000           13.000000  ...    0.000000                   2.000000
50%     18.000000           23.000000  ...    0.000000                   3.000000
75%     28.000000           27.000000  ...    1.000000                   8.000000
max     36.000000           28.000000  ...    8.000000                 120.000000

[8 rows x 11 columns]

In [ ]:
##Com esta função, podemos verificar os tipos de dados de cada feature, e também
##se temos algum valor nulo em nossos dados
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         700 non-null    int64
 1   Reason for Absence         700 non-null    int64
 2   Date                       700 non-null    object
 3   Transportation Expense     700 non-null    int64
 4   Distance to Work           700 non-null    int64
 5   Age                        700 non-null    int64
 6   Daily Work Load Average    700 non-null    float64
 7   Body Mass Index            700 non-null    int64
 8   Education                  700 non-null    int64
 9   Children                   700 non-null    int64
 10  Pets                       700 non-null    int64
 11  Absenteeism Time in Hours  700 non-null    int64
dtypes: float64(1), int64(10), object(1)
memory usage: 65.8+ KB

##É importante criarmos uma versão dos nossos dados que não será alterada no pré processamento, assim, mais adiante, poderemos comparar a versão pré processada com a versão original.

In [ ]:
original_data = raw_data.copy()

In [ ]:
original_data

     ID  Reason for Absence  ... Pets  Absenteeism Time in Hours
0    11                  26  ...    1                          4
1    36                   0  ...    0                          0
2     3                  23  ...    0                          2
3     7                   7  ...    0                          4
4    11                  23  ...    1                          2
..   ..                 ...  ...  ...                        ...
695  17                  10  ...    0                          8
696  28                   6  ...    2                          3
697  18                  10  ...    0                          8
698  25                  23  ...    0                          2
699  15                  28  ...    1                          2

[700 rows x 12 columns]

#Agora que temos os nossos dados em uma estrutura trabalhável, podemos nos ater à tarefa em sí: Preparar nossos dados para um regressão logística de abstenção, isto é, criar um modelo que consiga prever, baseado em outras características, se um indivíduo estará ausento do trabalho no futuro.
##Deste modo, fica claro que nossa variável dependente, ou "target", ou variável controlada é "Absenteesim Time in Hours".
##E nossos outros dados serão os "inputs" para esta regressão logística.

#Com isto em mente, podemos começar analisando a natureza dos nossos features/inputs
##ID: é apenas a identificação do indivíduo, além, disso, podemos perceber que ela não é exclusiva de apenas um indivíduo. Como a natureza dela não nos diz nada relevante, podemos excluí-la de nossos dados

In [ ]:
raw_data = raw_data.drop(['ID'], axis = 1)

In [ ]:
raw_data.head()

   Reason for Absence        Date  ...  Pets  Absenteeism Time in Hours
0                  26  07/07/2015  ...     1                          4
1                   0  14/07/2015  ...     0                          0
2                  23  15/07/2015  ...     0                          2
3                   7  16/07/2015  ...     0                          4
4                  23  23/07/2015  ...     1                          2

[5 rows x 11 columns]

##Reason for Absence: este feature nos diz sobre as diferentes razões pela quais alguem estava ausente. Os valores dela são tabeladas, ou seja, o valor 12 para este feature traduz como "Motivo de Saúde", por exemplo, ou então "Motivo de Pessoal". Assim, ela é uma variável CATEGORICAL NOMINAL, sem sentido numérico.

In [ ]:
##Podemos investigar os motivos mais frequentes de abstenção
raw_data['Reason for Absence'].value_counts()

23    147
28    110
27     66
13     52
0      38
19     36
22     32
26     31
25     29
11     24
10     22
18     21
14     18
1      16
7      13
12      8
6       6
21      6
8       5
9       4
5       3
24      3
16      3
4       2
15      2
3       1
2       1
17      1
Name: Reason for Absence, dtype: int64

In [ ]:
##Como este tipo de dado é categórico, uma análise estatística dos features
##não faz sentido, pois eles não tem relação numérica.
##Assim, usar uma função como a "describe" não fornece informação alguma
raw_data['Reason for Absence'].describe()

count    700.000000
mean      19.411429
std        8.356292
min        0.000000
25%       13.000000
50%       23.000000
75%       27.000000
max       28.000000
Name: Reason for Absence, dtype: float64

###Como nosos objetivo é investigar se algum indivíduo se encontrou ausente, e não por qual motivo ele se encontrou ausente, podemos transformar este feature em 0 = estava ausente por motivo desconhecido e 1 = estava ausente por algum motivo

In [ ]:
reasons = pd.get_dummies(raw_data['Reason for Absence'])

In [ ]:
reasons

     0   1   2   3   4   5   6   7   8   ...  19  21  22  23  24  25  26  27  28
0     0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   1   0   0
1     1   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
2     0   0   0   0   0   0   0   0   0  ...   0   0   0   1   0   0   0   0   0
3     0   0   0   0   0   0   0   1   0  ...   0   0   0   0   0   0   0   0   0
4     0   0   0   0   0   0   0   0   0  ...   0   0   0   1   0   0   0   0   0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ..  ..  ..  ..  ..  ..  ..  ..  ..
695   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
696   0   0   0   0   0   0   1   0   0  ...   0   0   0   0   0   0   0   0   0
697   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
698   0   0   0   0   0   0   0   0   0  ...   0   0   0   1   0   0   0   0   0
699   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   1

[700 rows x 28 columns]

In [ ]:
reasons = reasons.drop(0, axis = 1)

In [ ]:
reasons

     1   2   3   4   5   6   7   8   9   ...  19  21  22  23  24  25  26  27  28
0     0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   1   0   0
1     0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
2     0   0   0   0   0   0   0   0   0  ...   0   0   0   1   0   0   0   0   0
3     0   0   0   0   0   0   1   0   0  ...   0   0   0   0   0   0   0   0   0
4     0   0   0   0   0   0   0   0   0  ...   0   0   0   1   0   0   0   0   0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ..  ..  ..  ..  ..  ..  ..  ..  ..
695   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
696   0   0   0   0   0   1   0   0   0  ...   0   0   0   0   0   0   0   0   0
697   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
698   0   0   0   0   0   0   0   0   0  ...   0   0   0   1   0   0   0   0   0
699   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   1

[700 rows x 27 columns]

###Até aqui nos criamos um data frame com os todos os motivos conhecidos de ausência. Agora nos iremos excluir o feature "Reasons for Absence" e substituir por grupos que contenham esses data frame
###Podemos agrupar os motivos em algumas categorias.

In [ ]:
raw_data = raw_data.drop(['Reason for Absence'], axis = 1)

In [ ]:
raw_data

           Date  Transportation Expense  ...  Pets  Absenteeism Time in Hours
0    07/07/2015                     289  ...     1                          4
1    14/07/2015                     118  ...     0                          0
2    15/07/2015                     179  ...     0                          2
3    16/07/2015                     279  ...     0                          4
4    23/07/2015                     289  ...     1                          2
..          ...                     ...  ...   ...                        ...
695  23/05/2018                     179  ...     0                          8
696  23/05/2018                     225  ...     2                          3
697  24/05/2018                     330  ...     0                          8
698  24/05/2018                     235  ...     0                          2
699  31/05/2018                     291  ...     1                          2

[700 rows x 10 columns]

In [ ]:
reasons_type1 = reasons.loc[:, 1:14].max(axis = 1)
reasons_type2 = reasons.loc[:, 15:17].max(axis = 1)
reasons_type3 = reasons.loc[:, 18:21].max(axis = 1)
reasons_type4 = reasons.loc[:, 22:].max(axis = 1)

In [ ]:
reasons_type3

0      0
1      0
2      0
3      0
4      0
      ..
695    0
696    0
697    0
698    0
699    0
Length: 700, dtype: uint8

In [ ]:
##Agora nos juntamos estes 4 tipos de razões com o resto de nossos dados
new_data = pd.concat([raw_data, reasons_type1, reasons_type2, reasons_type3, reasons_type4], axis = 1)
new_data

           Date  Transportation Expense  Distance to Work  Age  ...  0  1  2  3
0    07/07/2015                     289                36   33  ...  0  0  0  1
1    14/07/2015                     118                13   50  ...  0  0  0  0
2    15/07/2015                     179                51   38  ...  0  0  0  1
3    16/07/2015                     279                 5   39  ...  1  0  0  0
4    23/07/2015                     289                36   33  ...  0  0  0  1
..          ...                     ...               ...  ...  ... .. .. .. ..
695  23/05/2018                     179                22   40  ...  1  0  0  0
696  23/05/2018                     225                26   28  ...  1  0  0  0
697  24/05/2018                     330                16   28  ...  1  0  0  0
698  24/05/2018                     235                16   32  ...  0  0  0  1
699  31/05/2018                     291                31   40  ...  0  0  0  1

[700 rows x 14 columns]

In [ ]:
##Renomeamos os features criados
new_data.columns.values

array(['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 0, 1, 2, 3],
      dtype=object)

In [ ]:
column_names = ['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Reason 1', 'Reason 2', 'Reason 3', 'Reason 4']

In [ ]:
new_data.columns = column_names

In [ ]:
new_data.head()

         Date  Transportation Expense  ...  Reason 3  Reason 4
0  07/07/2015                     289  ...         0         1
1  14/07/2015                     118  ...         0         0
2  15/07/2015                     179  ...         0         1
3  16/07/2015                     279  ...         0         0
4  23/07/2015                     289  ...         0         1

[5 rows x 14 columns]

In [ ]:
##Agora podemos reorganizar as colunas dos nossos dados
column_names_reordered = ['Reason 1', 'Reason 2', 'Reason 3', 'Reason 4', 'Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']

In [ ]:
new_data = new_data[column_names_reordered]
new_data.head()

   Reason 1  Reason 2  Reason 3  ...  Children Pets  Absenteeism Time in Hours
0         0         0         0  ...         2    1                          4
1         0         0         0  ...         1    0                          0
2         0         0         0  ...         0    0                          2
3         1         0         0  ...         2    0                          4
4         0         0         0  ...         2    1                          2

[5 rows x 14 columns]

In [ ]:
data_reason_mod = new_data.copy()

In [ ]:
data_reason_mod.head()

   Reason 1  Reason 2  Reason 3  ...  Children Pets  Absenteeism Time in Hours
0         0         0         0  ...         2    1                          4
1         0         0         0  ...         1    0                          0
2         0         0         0  ...         0    0                          2
3         1         0         0  ...         2    0                          4
4         0         0         0  ...         2    1                          2

[5 rows x 14 columns]

##Date: A data em que houve alguma ausência. Este dado é bastante importante para nós, pois podemos extrair alguns padrões de ausência, como dias perto de feriados, após feriados, evento importantes, etc.

In [ ]:
##O arquivo que estamos trabalhando até agora é "data_reason_mod"
data_reason_mod.head()

   Reason 1  Reason 2  Reason 3  ...  Children Pets  Absenteeism Time in Hours
0         0         0         0  ...         2    1                          4
1         0         0         0  ...         1    0                          0
2         0         0         0  ...         0    0                          2
3         1         0         0  ...         2    0                          4
4         0         0         0  ...         2    1                          2

[5 rows x 14 columns]

In [ ]:
data_reason_mod['Date'].describe()

count            700
unique           432
top       24/10/2017
freq               5
Name: Date, dtype: object

In [ ]:
##Podemos verificar que tipo de estrutura cada dado do feature
type(data_reason_mod['Date'][0])

str

###Como os dados estão do tipo "dd/mm/aaaa" numa estrutura de string, podemos converter estes dados para algo mais facilmente trabalhavel

In [ ]:
data_reason_mod['Date'] = pd.to_datetime(data_reason_mod['Date'], format = '%d/%m/%Y')
data_reason_mod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Reason 1                   700 non-null    uint8
 1   Reason 2                   700 non-null    uint8
 2   Reason 3                   700 non-null    uint8
 3   Reason 4                   700 non-null    uint8
 4   Date                       700 non-null    datetime64[ns]
 5   Transportation Expense     700 non-null    int64
 6   Distance to Work           700 non-null    int64
 7   Age                        700 non-null    int64
 8   Daily Work Load Average    700 non-null    float64
 9   Body Mass Index            700 non-null    int64
 10  Education                  700 non-null    int64
 11  Children                   700 non-null    int64
 12  Pets                       700 non-null    int64
 13  Absenteeism Time in Hours  700 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(8), uint8(4)
memory usage: 57.5 KB

In [ ]:
##Podemos extrair o mes, dia e outras informações através dos metodos .month e .day
print(data_reason_mod['Date'][0].day)
print(data_reason_mod['Date'][0].month)
print(data_reason_mod['Date'][0].weekday())
print(data_reason_mod['Date'][0].year)

7
7
1
2015

###Podemos criar novos features nos nossos dados com estas informações separadas

In [ ]:
month_list = []
weekday_list = []

for i in range(data_reason_mod['Date'].shape[0]):
  weekday_list.append(data_reason_mod['Date'][i].weekday())
  month_list.append(data_reason_mod['Date'][i].month)

In [ ]:
data_reason_mod['Day of the Week'] = weekday_list
data_reason_mod['Month Value'] = month_list

In [ ]:
data_reason_mod.head()

   Reason 1  Reason 2  ...  Day of the Week  Month Value
0         0         0  ...                1            7
1         0         0  ...                1            7
2         0         0  ...                2            7
3         1         0  ...                3            7
4         0         0  ...                3            7

[5 rows x 16 columns]

In [ ]:
data_reason_mod = data_reason_mod.drop(['Date'], axis = 1)

In [ ]:
new_columns_name = ['Reason 1', 'Reason 2', 'Reason 3', 'Reason 4', 'Day of the Week', 'Month Value', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']

In [ ]:
data_reason_mod = data_reason_mod[new_columns_name]

In [ ]:
data_reason_mod.head()

   Reason 1  Reason 2  Reason 3  ...  Children  Pets  Absenteeism Time in Hours
0         0         0         0  ...         2     1                          4
1         0         0         0  ...         1     0                          0
2         0         0         0  ...         0     0                          2
3         1         0         0  ...         2     0                          4
4         0         0         0  ...         2     1                          2

[5 rows x 15 columns]

In [ ]:
data_time_mod = data_reason_mod

##Transportation Expense: é o custo médio mensal da jornada de trabalho da pessoa.

##Distance to Work: é a distáncia que o indivíduo percorre até chegar ao trabalho.

##Age: é a idade de cada indivíduo.

##Daily Work Load Average: é a quantidade de minutos trabalhados por dia em média.

##Body Mass Index: é o índice de massa corporal do indivíduo.

##Education: é uma variável categoríca que corresponde ao nível de educação da pessoa, sendo: 1 - Ensino Médio, 2 - Ensino Superio, 3 - Pós Graduação e 4 - Doutorado/Mestrado

In [ ]:
##Podemos verificar quantas pessoas se encaixam em cada categoria
data_time_mod['Education'].value_counts()

1    583
3     73
2     40
4      4
Name: Education, dtype: int64

###Como a categoria predominante é de Ensino Médio, podemos juntar as outras 3 categorias em uma apenas. 0 - Ensino Médio e 1 - Ensino Superior ou Mais

In [ ]:
##Para isto, utilizaremos um dicionário para implementar estas mudanças de índices
data_time_mod['Education'] = data_time_mod['Education'].map({1:0, 2:1, 3:1, 4:1})

In [ ]:
data_time_mod['Education'].value_counts()

0    583
1    117
Name: Education, dtype: int64

In [ ]:
data_education_mod = data_time_mod.copy()

##Children: é o número de filhos que o individuo possuí. Nenhum tipo de manipulação de dado será aplicado aqui.

##Pets: é o número de animais de estimação que o indivíduo possuí. Aqui também não é necessário nenhum tratamento de dado

##Absenteesim Time in Hours: é o número de horas absentas de um indivíduo. Este features será o nosso target para nossa analise

#Para a nossa análise, precisamos definir os targets em nossos dados, isto é, a variável dependente.
##Queremos duas classes: 0 - indivíduo moderadamente ausente e 1 - indivíduo excessivamente ausente. Para criar estas classes, analisaremos a distribuição gausseana dos dados de "Absenteeism Time in Hours".

In [ ]:
import numpy as np

In [ ]:
data_education_mod['Absenteeism Time in Hours'].describe()

count    700.000000
mean       6.761429
std       12.670082
min        0.000000
25%        2.000000
50%        3.000000
75%        8.000000
max      120.000000
Name: Absenteeism Time in Hours, dtype: float64

In [ ]:
##Usaremos a mediana como ponto de corte
data_education_mod['Absenteeism Time in Hours'].median()

3.0

In [ ]:
##Os indivíduo com atributos menores que a mediana serão 0, e os maiores serão 1
targets = np.where(data_education_mod['Absenteeism Time in Hours'] > data_education_mod['Absenteeism Time in Hours'].median(), 1, 0)

In [ ]:
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [ ]:
data_education_mod['Absenteeism Time in Hours'] = targets

In [ ]:
data_education_mod.head()

   Reason 1  Reason 2  Reason 3  ...  Children  Pets  Absenteeism Time in Hours
0         0         0         0  ...         2     1                          1
1         0         0         0  ...         1     0                          0
2         0         0         0  ...         0     0                          0
3         1         0         0  ...         2     0                          1
4         0         0         0  ...         2     1                          0

[5 rows x 15 columns]

In [ ]:
data_education_mod.columns

Index(['Reason 1', 'Reason 2', 'Reason 3', 'Reason 4', 'Day of the Week',
       'Month Value', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education', 'Children',
       'Pets', 'Absenteeism Time in Hours'],
      dtype='object')

In [ ]:
new_name =['Reason 1', 'Reason 2', 'Reason 3', 'Reason 4', 'Day of the Week',
       'Month Value', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education', 'Children',
       'Pets', 'Excess Absentence']

In [ ]:
data_education_mod.columns = new_name

In [ ]:
data_education_mod.head()

   Reason 1  Reason 2  Reason 3  ...  Children  Pets  Excess Absentence
0         0         0         0  ...         2     1                  1
1         0         0         0  ...         1     0                  0
2         0         0         0  ...         0     0                  0
3         1         0         0  ...         2     0                  1
4         0         0         0  ...         2     1                  0

[5 rows x 15 columns]

In [ ]:
data_education_mod['Excess Absentence'].value_counts()

0    381
1    319
Name: Excess Absentence, dtype: int64

In [ ]:
##Podemos verificar o equilíbrio do nosso dataset em relação aos targets
targets_1s = data_education_mod['Excess Absentence'].sum()/len(data_education_mod['Excess Absentence'])
targets_1s

0.45571428571428574

In [ ]:
balanced_data = data_education_mod.copy()

In [ ]:
balanced_data

     Reason 1  Reason 2  Reason 3  ...  Children  Pets  Excess Absentence
0           0         0         0  ...         2     1                  1
1           0         0         0  ...         1     0                  0
2           0         0         0  ...         0     0                  0
3           1         0         0  ...         2     0                  1
4           0         0         0  ...         2     1                  0
..        ...       ...       ...  ...       ...   ...                ...
695         1         0         0  ...         2     0                  1
696         1         0         0  ...         1     2                  0
697         1         0         0  ...         0     0                  1
698         0         0         0  ...         0     0                  0
699         0         0         0  ...         1     1                  0

[700 rows x 15 columns]

#Com isso, podemos dividir nossos dados entre Inputs e Targets

In [ ]:
inputs_data = balanced_data.iloc[:, :-1]

In [ ]:
inputs_data.head(10)

   Reason 1  Reason 2  Reason 3  ...  Education  Children  Pets
0         0         0         0  ...          0         2     1
1         0         0         0  ...          0         1     0
2         0         0         0  ...          0         0     0
3         1         0         0  ...          0         2     0
4         0         0         0  ...          0         2     1
5         0         0         0  ...          0         0     0
6         0         0         0  ...          0         1     4
7         0         0         0  ...          0         4     0
8         0         0         1  ...          0         2     0
9         0         0         0  ...          1         1     1

[10 rows x 14 columns]

In [ ]:
inputs_data.shape

(700, 14)

###Podemos padronizar os nossos dados de inputs através de uma transformação usando um módulode de processamento do Sklear

In [ ]:
from sklearn import preprocessing

absenteeism_scaler = preprocessing.StandardScaler()

In [ ]:
absenteeism_scaler.fit(inputs_data)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [ ]:
scaled_inputs = absenteeism_scaler.transform(inputs_data)

In [ ]:
type(scaled_inputs)

numpy.ndarray

In [ ]:
scaled_inputs.shape

(700, 14)

In [ ]:
type(targets)

numpy.ndarray

In [ ]:
targets.shape

(700,)

#Podemos agora dividir nosso dataset em 3: Treino, Validação e Test
##Podemos fazer isto com um módulo de Sklearn

In [ ]:
from sklearn import model_selection

In [ ]:
train_inputs, test_inputs, train_targets, test_targets = model_selection.train_test_split(scaled_inputs, targets, train_size = 0.9, random_state = 420)

In [ ]:
print(train_inputs.shape, train_targets.shape)

(630, 14) (630,)

In [ ]:
print(test_inputs.shape, test_targets.shape)

(70, 14) (70,)

###Como podemos ver, temos 525 amostras de treino e 175 amostras de testes. Porém queremos criar um terceiro dataset de validação. Faremos isso retirando amostras do dataset de treino. É uma boa prática que o numero de amostras de validação seja ~10% do total, ou igual ao numero de amostras de test

In [ ]:
##Como na etapa de dividir entre train e test, o algorítmo do sklearn automaticamente embaralha os dados
##Então, podemos retirar o número de amostras para validação diretamente do dataset de treino

validation_inputs = train_inputs[:70]
validation_targets = train_targets[:70]

train_inputs = train_inputs[71:]
train_targets = train_targets[71:]

In [ ]:
print(validation_inputs.shape, validation_targets.shape)

(70, 14) (70,)

In [ ]:
print(train_inputs.shape, train_targets.shape)

(559, 14) (559,)

In [ ]:
type(train_inputs)

numpy.ndarray

#Agora, finalmente, o nosso pré processamento de dados acabou!! Podemos então salvar nossos dados em nosso local de trabalhar para treinar nosso modelo

In [ ]:
np.savez('Absenteeism_train_data.npz', inputs = train_inputs, targets = train_targets)
np.savez('Absenteeism_validation_data.npz', inputs = validation_inputs, targets = validation_targets)
np.savez('Absenteeism_test_data.npz', inputs = test_inputs, targets = test_targets)

##Precisamos salvar o nosso Escalador, para que os dados futuros sejam transformados da mesma forma que fizemos

In [ ]:
import pickle

In [ ]:
with open('Absenteeism Scaler', 'wb') as file:
  pickle.dump(absenteeism_scaler, file)